body {
    background-color: rgb(60, 60, 20);
    text-align: center;
    color: rgb(235, 235, 235);
    font-family: "Arial", sans-serif;
}

p {
    margin: 0px;
}

.card {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card-title {
    margin: 0px;
    background-color: rgb(90, 90, 30);
    border-radius: 30px 30px 0px 0px;
}

.card-content {
    background-color: rgb(40, 40, 40);
    border-radius: 0px 0px 30px 30px;
}

#controls-display {
    flex-direction: row;
    display: flex;
    width: 100%;
    text-align: right;
    
}

#title {
    padding: 20px;
}

#title-data {
    margin: 0px;
    padding: 10px 20px 10px 20px;
}

#viewer-card {
    width: 85%;
}

#viewer-title {
    padding: 15px;
}

#viewer {
    height: 600px;
    padding: 0px;
}

#status-indicator {
    text-align: center;
    margin-right: auto;
    margin-left: 0;
}

#connected {
    color: #00D600;
}

#error {
    color: #FF0000;
}
