body {
    background-color: rgb(40, 40, 20);
    text-align: center;
    color: rgb(235, 235, 235);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

h1 {
    padding: 20px;
    background-color: rgb(60, 60, 30);
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 30px;
    width: 85%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card-title {
    margin-bottom: 0px;
    padding: 15px;
    background-color: rgb(60, 60, 30);
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    padding: 15px;
    background-color: rgb(40, 40, 40);
    border-radius: 0px 0px 20px 20px;
}

#viewer {
    padding: 0px;
    height: 600px;
}

#status-indicator {
    background: none;
    text-align: left;
    position: bottom;
    padding: 20px;
}
