<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="walli">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import walli urdf file -->
    <xacro:include filename="$(find urc_hw_description)/urdf/walli.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="walli.ros2_control.xacro" />


    <xacro:walli_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
