<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="WalliArm_V2_Block_base_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions"
      value="${load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="base_yaw_joint">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['base_yaw_joint']}</param>
        </state_interface>
        <state_interface name="velocity" />
      </joint>
      <joint name="upper_arm_joint">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['upper_arm_joint']}</param>
        </state_interface>
        <state_interface name="velocity" />

      </joint>
      <joint name="fore_arm_joint">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['fore_arm_joint']}</param>
        </state_interface>
        <state_interface name="velocity" />

      </joint>
      <joint name="ee_roll_jont">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['ee_roll_jont']}</param>
        </state_interface>
        <state_interface name="velocity" />

      </joint>
      <joint name="ee_pitch_joint">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['ee_pitch_joint']}</param>
        </state_interface>
        <state_interface name="velocity" />

      </joint>

    </ros2_control>
  </xacro:macro>
</robot>