<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Claw">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.13889 0.098063 0.16096"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.002981"
        ixy="2.3953E-06"
        ixz="2.164E-09"
        iyy="0.0064718"
        iyz="-3.5268E-09"
        izz="0.0036383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="LeftConnector">
    <inertial>
      <origin
        xyz="0.13889 0.098063 0.16096"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.002981"
        ixy="2.3953E-06"
        ixz="2.164E-09"
        iyy="0.0064718"
        iyz="-3.5268E-09"
        izz="0.0036383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/LeftConnector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/LeftConnector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LeftConnectorJoint"
    type="fixed">
    <origin
      xyz="0.055945 -0.077003 0.070994"
      rpy="1.5708 0 0.53897" />
    <parent
      link="base_link" />
    <child
      link="LeftConnector" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LeftClaw">
    <inertial>
      <origin
        xyz="0.13889 0.098063 0.16096"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.002981"
        ixy="2.3953E-06"
        ixz="2.164E-09"
        iyy="0.0064718"
        iyz="-3.5268E-09"
        izz="0.0036383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/LeftClaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/LeftClaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LeftClawJoint"
    type="fixed">
    <origin
      xyz="0.047341 0.10319 -0.076726"
      rpy="-3.1416 -0.53897 0" />
    <parent
      link="LeftConnector" />
    <child
      link="LeftClaw" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RightConnector">
    <inertial>
      <origin
        xyz="0.13889 0.098063 0.16096"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.002981"
        ixy="2.3953E-06"
        ixz="2.164E-09"
        iyy="0.0064718"
        iyz="-3.5268E-09"
        izz="0.0036383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/RightConnector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/RightConnector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RightConnectorJoint"
    type="fixed">
    <origin
      xyz="0.050345 -0.17588 0.070994"
      rpy="1.5708 0 -0.53897" />
    <parent
      link="base_link" />
    <child
      link="RightConnector" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RightClaw">
    <inertial>
      <origin
        xyz="0.13889 0.098063 0.16096"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.002981"
        ixy="2.3953E-06"
        ixz="2.164E-09"
        iyy="0.0064718"
        iyz="-3.5268E-09"
        izz="0.0036383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/RightClaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find urc_gazebo)/urdf/meshes/RightClaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RightClawJoint"
    type="fixed">
    <origin
      xyz="0.087576 -0.049213 0.13309"
      rpy="0 0.53897 0" />
    <parent
      link="RightConnector" />
    <child
      link="RightClaw" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
