<!--  xacro macros for robot materials.
 -->
<robot name="walli_prop" xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- Degree-to-radian conversions -->
  <xacro:property name="degrees_45" value="0.785398163"/>
  <xacro:property name="degrees_90" value="1.57079633"/>

  <!-- body_length is measured along the x axis, body_width
       along the y axis, and body_height along the z axis. -->
  <xacro:property name="body_length"    value="0.300"/>
  <xacro:property name="body_width"     value="0.250"/>
  <xacro:property name="body_height"    value="0.050"/>
  <xacro:property name="body_mass"      value="50.000"/>
  <xacro:property name="body_clearance" value="0.200"/>

  <xacro:property name="wheelbase_rocker" value="0.350"/>
  <xacro:property name="wheelbase_bogie"  value="0.200"/>
  <xacro:property name="x_center_rocker"  value="0.000"/>
  <xacro:property name="x_center_bogie"   value="0.150"/>
  <xacro:property name="track"            value="0.400"/>

  <!-- hub_dia and tire_dia are the diameters of the hub and tire,
       respectively. hex_hub_depth is the distance that the hex hub is
       inset from the outer edge of the tire. It is set so that each wheel
       is a "zero offset" wheel. hex_hub_depth = tire_width / 2 -
       axle_length. -->
  <xacro:property name="hub_dia"       value="0.100"/>
  <xacro:property name="tire_dia"      value="0.115"/>
  <xacro:property name="tire_width"    value="0.075"/>
  <xacro:property name="wheel_mass"    value="0.200"/>

  <!-- The specifications for a Titan(R) 550 motor could not be found, so the
       stall torque of a Mabuchi Motor(R) RS-550VC-7525 motor was used instead.
       num_spur_gear_teeth = 68
       num_pinion_gear_teeth = 19
       final_gear_ratio = (num_spur_gear_teeth / num_pinion_gear_teeth) *
         5.22 = 18.68
       stall_torque = 0.549 N m
       axle_eff_limit = ((2 * stall_torque) * final_gear_ratio) / 4 =
         5.12766 N m
       max_speed = 40 mph (30+ mph) = 17.8816 m/s
       axle_vel_limit = (2 * pi) * (max_speed / (pi * tire_dia)) =
         244.8696 rad/s -->
  <xacro:property name="axle_eff_limit" value="5.12766"/>
  <xacro:property name="axle_vel_limit" value="244.8696"/>
  
  <material name="body_mat">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="tire_mat">
    <color rgba="0 0 0 1"/>
  </material>
  
   <!-- Lidar -->
    <xacro:property name="lidar_pitch" value="0.0"/>
    <xacro:property name="lidar_x" value="0.127"/>
    <xacro:property name="lidar_z" value="0.8486"/>
    <xacro:property name="lidar_hz" value="10"/>
    <xacro:property name="lidar_samples" value="500"/>
    <xacro:property name="lidar_support_x_dim" value="0.2"/>
    <xacro:property name="lidar_support_y_dim" value="0.08"/>
    <xacro:property name="lidar_support_z_dim" value="0.01"/>

</robot>
