<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="walli_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <!-- mock_components/GenericSystem -->
    <xacro:arg name="use_hardware" default="gazebo_ros2_control/GazeboSystem"/>

    <!-- Import walli_arm urdf file -->
    <!-- walli.xacro -->
    <!-- walli_arm.urdf -->
    <xacro:include filename="$(find urc_gazebo)/urdf/walli_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="walli_arm.ros2_control.xacro" />


    <xacro:walli_arm_ros2_control name="GazeboSimSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
