<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="walliArmV3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import walliArmV3 urdf file -->
    <xacro:include filename="$(find urc_gazebo)/urdf/walli.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="walliArmV3.ros2_control.xacro" />


    <xacro:walliArmV3_ros2_control name="GazeboSimSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
