<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="WalliiArmV3_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- TODO make a launch param to switch between real/fake hardware. You can only use ONE. -->
              <plugin>gazebo_ros2_control/GazeboSystem</plugin> <!-- Use for functionality in Gazebo -->
              <!-- <plugin>mock_components/GenericSystem</plugin> --> <!--Use for functionality in RVIZ2-->
            </hardware>
            <joint name="shoulderjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulderjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bicepjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bicepjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbowjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbowjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="forearmjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forearmjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wristjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wristjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="clawjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['clawjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftgripperjoint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftgripperjoint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
