<?xml version="1.0"?>
<robot name="sam_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="config_file" value="$(find urc_bringup)/config/hardware_config.yaml" />

    <xacro:property name="config_data" value="${xacro.load_yaml(config_file)}"></xacro:property>
    <xacro:property name="use_simulation"
        value="${config_data['hardware_config']['use_simulation']}" />
    <xacro:property name="use_simplified_model"
        value="${config_data['hardware_config']['use_simplified_model']}" />

    <xacro:if value="${use_simplified_model}">
        <xacro:include filename="$(find urc_hw_description)/urdf/diff_drive.xacro" />
    </xacro:if>

    <xacro:if value="${not use_simplified_model}">
        <xacro:include filename="$(find urc_hw_description)/urdf/walli.xacro" />
    </xacro:if>
</robot>