<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ros2_control"
    params="use_simulation config_file_path arm_initial_positions_file">
    <xacro:property name="initial_positions"
      value="${load_yaml(arm_initial_positions_file)['initial_positions']}" />

    <xacro:if value="${use_simulation}">
      <ros2_control name="GazeboSystem" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="leftbogiejoint">
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="leftrockerjoint">
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="rightbogiejoint">
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="rightrockerjoint">
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="left_front_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="right_front_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="left_center_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="right_center_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="left_rear_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="right_rear_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-0.05</param>
            <param name="max">0.05</param>
          </command_interface>
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="shoulderjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['shoulderjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="bicepjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['bicepjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="elbowjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['elbowjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="wristjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['wristjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="clawjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['clawjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="rightgripperjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['rightgripperjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
        <joint name="leftgripperjoint">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions['rightgripperjoint']}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
      </ros2_control>
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${config_file_path}</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="${not use_simulation}">
      <ros2_control name="rover_drivetrain" type="system">
        <hardware>
          <plugin>urc_hw/RoverDrivetrain</plugin>
          <param name="udp_address">192.168.1.119</param>
          <param name="udp_port">8443</param>
          <param name="udp_self_address">192.168.1.150</param>
        </hardware>
        <joint name="left_wheel">
          <command_interface name="velocity" />
          <state_interface name="velocity" />
          <state_interface name="velocity.front" />
          <state_interface name="velocity.back" />
        </joint>
        <joint name="right_wheel">
          <command_interface name="velocity" />
          <state_interface name="velocity" />
          <state_interface name="velocity.front" />
          <state_interface name="velocity.back" />
        </joint>
      </ros2_control>
      <ros2_control name="status_light" type="system">
        <hardware>
          <plugin>urc_hw/StatusLight</plugin>
          <param name="udp_address">192.168.1.113</param>
          <param name="udp_port">8443</param>
        </hardware>
        <gpio name="status_light">
          <command_interface name="color" />
          <command_interface name="state" />
        </gpio>
      </ros2_control>
      <ros2_control name="battery_management" type="sensor">
        <hardware>
          <plugin>urc_hw/BatteryManagement</plugin>
          <param name="udp_address">127.0.0.1</param>
          <param name="udp_port">5000</param>
          <param name="udp_self_address">127.0.0.1</param>
          <param name="udp_self_port">7000</param>
        </hardware>
        <sensor name="battery_management">
          <state_interface name="main_voltage" />
          <state_interface name="charge_percentage" />
          <state_interface name="discharge_current" />
          <state_interface name="temperature" />
          <state_interface name="cell1_voltage" />
          <state_interface name="cell2_voltage" />
          <state_interface name="cell3_voltage" />
          <state_interface name="cell4_voltage" />
          <state_interface name="cell5_voltage" />
          <state_interface name="cell6_voltage" />
          <state_interface name="cell7_voltage" />
          <state_interface name="cell8_voltage" />
        </sensor>
      </ros2_control>
    </xacro:if>
  </xacro:macro>
</robot>
