<?xml version="1.0"?>

<robot name="walli" xmlns:xacro="http://ros.org/wiki/xacro">
   <xacro:arg name="use_simulation" default="true" />

   <xacro:include filename="$(find urc_hw_description)/urdf/inertials.xacro" />
   <xacro:include filename="$(find urc_hw_description)/urdf/wallii_drivebase.xacro" />
   <!-- <xacro:include filename="$(find urc_hw_description)/urdf/walli_sensors.xacro" /> -->
   <xacro:include filename="$(find urc_hw_description)/urdf/ros2_control.xacro" />

   <xacro:drivebase mu="1.0" mu2="0.25" />
   <xacro:ros2_control use_simulation="$(arg use_simulation)"
      config_file_path="$(find urc_bringup)/config/ros2_control_walli.yaml" />
</robot>
