<?xml version="1.0" encoding="UTF-8"?>
<robot name="walli" xmlns:xacro="http://ros.org/wiki/xacro">
   <xacro:property name="use_simulation" value="true"></xacro:property>

   <xacro:include filename="$(find urc_hw_description)/urdf/walli_prop.xacro" />
   <xacro:include filename="$(find urc_hw_description)/urdf/walli_inertials.xacro" />
   <xacro:include filename="$(find urc_hw_description)/urdf/walli_sensors.xacro" />
   <xacro:include filename="$(find urc_hw_description)/urdf/ros2_control.xacro" />

   <xacro:include filename="$(find urc_hw_description)/urdf/drivebase.xacro" />
   <xacro:include filename="$(find urc_hw_description)/urdf/arm.xacro" />

   <xacro:drivebase wheel_friction="0.01" />
   <xacro:arm />
   <xacro:ros2_control use_simulation="${use_simulation}"
      config_file_path="$(find urc_bringup)/config/controller_config.yaml" />
</robot>